<title>Four-year-old boy killed, father arrested in Bronx scooter crash</title><meta charset="utf-8"/><body id="article" hidden="true"><main><article><div id="3bafd2b4-a87d-4471-8134-7a9cca092000"><h1 class="title metadata">Four-year-old boy killed, father arrested in Bronx scooter crash</h1><p class="subhead metadata">The boy did not appear to be wearing a helmet and his father was charged with endangering the welfare of a child.</p><div class="metadata"><div class="readtime" id="da24e4ef-db57-4b9f-9fa5-548924fc9c32"></div><div class="show_original" id="c93e2206-2f31-4ddc-9828-2bb8e8ed940e"></div></div><hr></hr></div><div id="7c08a417-bf02-4241-a55e-ad5b8dc88f69">   <main class="section-article"> <div><div class="article l-container l-wrap"><div class="l-container l-container--12col">   <div class="article-lead-asset l-container l-container--10col"> <div class="article-lead-image"><figure class="image-with-caption gothamist"><div class="image-with-caption-wrapper"><div class="image-with-caption-image"><a target="_blank" rel="noopener noreferrer" class="image-with-caption-image-link disabled"></a> <p>
            A four-year-old boy was killed while riding a scooter with his father.
          </p></div> </div> <figcaption> <div class="image-with-caption-credit"><p>
        A four-year-old boy was killed while riding a scooter with his father.
      </p> <p><span>
        SHUTTERSTOCK
      </span></p></div>  </figcaption></figure></div> </div>  <div class="streamfield l-container l-container--10col article-body c-article__body"><div class="o-rte-text streamfield-paragraph u-spacing"><div><p>A four-year-old boy was killed and his father was arrested when the motorized scooter they were riding collided with a turning Toyota Sedan Sunday night, police officials said.</p><p>The 24-year-old father and son, both named Mario Rosario, were riding south on Bailey Avenue — three blocks from their home in the University Heights section of the Bronx — just before 9:30 p.m.</p><p>The scooter driver tried to pass a white Toyota Sedan as it was turning on West 193rd Street, and the two vehicles crashed, sending the scooter cascading into the nearby curb, and the father and son to the ground, a police spokesperson said.</p><p>The boy appeared not to have been wearing a helmet, a police official said, and suffered severe head trauma. He was rushed to St. Barnabas Hospital and later died. Police found a helmet at the scene but it was an adult size, the official said.</p><p>The elder Rosario suffered minor injuries in the crash and was arrested and charged with endangering the welfare of a child and possession of stolen property, as police said the two-wheeled scooter was stolen.</p><p>William Baez, the 51-year-old driver of the Toyota, was also arrested and charged with driving without a license. No information about either man’s attorney was immediately available.</p></div></div></div>     <div class="l-container l-container--10col">  <div class="do-you-know-the-scoop u-reversed-out o-3d-heading article-scoop"><p><strong>Do you know the scoop?</strong> <a href="/news/four-year-old-boy-killed-father-arrested-in-bronx-scooter-crash#comments">
      Comment
    </a>
    below or
   <a href="mailto:tips@gothamist.com" target="_blank" rel="noopener noreferrer">Send us a Tip</a></p></div></div>    </div> </div></div></main> <div><p><a aria-label="back to top" tabindex="0" class="back-to-top"> Back To Top
</a></p> </div></div></article></main></body>